/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background: #f0faff;
}
.head {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  
  .head .logo {
    filter: invert(100%);
    width: 100%;
    height: 100px;
    box-shadow: #000;
  }
  
  .head .logo img {
    height: 100px;
  }
  
  .head .nav {
  
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .head .nav li a {
  
    border-radius: 20px;
    text-decoration: none;
    color: black;
    padding: 13px 30px;
  
    background: transparent;
    font-family: system-ui;
    transition: 0.5s;
  
  }
  
  
  ul {
    display: flex;
  
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  li {
    margin: 0 2rem;
  }
  
  /* Underline styles */
  .head .nav a {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Fade in */
  .head .nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .head .nav li a:hover::after,
  .head .nav li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  
  /* Scale from center */
  .head .nav li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .head .nav li a:hover::after,
  .head .nav li a:focus::after {
    transform: scale(1);
  }
  

.wrapper {
    margin-top: 7%;
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: #00a700;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form.login {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.6s ease;
}

.wrapper.active .form.login {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.form.login header {
  color: #333;
  opacity: 0.6;
}

.wrapper.active .form.login header {
  opacity: 1;
}

.wrapper.active .signup header {
  opacity: 0.6;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

.form.login input {
  border: 1px solid #aaa;
}

.form.login input:focus {
  box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: #fff;
}

form a {
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}


form a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.form.login h1{
    padding: 40px;
    text-align: center;
    color: #7676768c;

}
.form.login input[type="submit"] {
  background: #00da00;
  color: #fff;
  border: none;
}
