.roW{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.roW .col{
    width: 29%;
}
.roW .col .card{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roW .col .card img{
    width: 100%;
    height: 90%;
}
.roW .col .card input{
    width: 50px;
}